:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

h1 {
  margin-right: 20px;
  font-size: 2.2em;
  line-height: 1.1;
}
.cabecalho ul {
  list-style-type: none; 
  padding: 0;
}

.cabecalho li {
  display: inline;
  margin-right: 10px; 
}

.cabecalho li a {
  font-size: 1.2em; 
  
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #000;
  background-color: #646cff;
  
}

.promocoes{
  overflow: auto;
}

.promocoes div {
  float: left; 
  width: 45%; 
  box-sizing: border-box; 
  margin-right: 10px;
  border: 1px solid #ccc; 
  padding: 10px; 
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  cursor: pointer;
  transition: border-color 0.25s;
  border-color: #000;
}
button:hover {
  background-color: #fff;
  border-color: #000;
}


